<!DOCTYPE html>
<html lang="en">
  <%- include('include/_header') %>
  <body>
    <div class="notFound-404 w3-panel">
      <h4>404</h4>
      <p class="w3-margin-bottom">Error Page!</p>
      <a href="/" class="w3-button w3-light-grey">Back to home page</a>
    </div>
  </body>
</html>
