<header>
  <nav class="nav-bar">
    <div class="logo-nav">
      <a href="/">
        <figure>
          <img src="/img/Logo.png" alt="This is the logo of E-System" />
        </figure>
      </a>
      <div>
        <ul class="navigation w3-bar">
          <li>
            <%- include('_navMenu') %>
          </li>
        </ul>
      </div>
    </div>
    <div class="margin-right-4 account-user"><%- include('_account') %></div>
  </nav>
  <div class="web-title">
    <h1>E-System Portal, Prague</h1>
  </div>
</header>
