<aside class="quick-bot">
  <div>
    <button id="bot-Contact" class="w3-button w3-blue w3-circle">
      <i class="fa-solid fa-question"></i>
    </button>
    <div class="showBot">
      <div class="it-contact">
        <a href=""
          ><i class="fa-solid fa-message"></i>&nbsp;Contact site support</a
        >
        <div>
          <p>Phone:&nbsp;<a href="">+420777519407</a></p>
          <p>Email:&nbsp;<a href="">helpdesk@e-system.com</a></p>
          <p>Working:&nbsp;<span>Mon-Fri&nbsp;7:00-17:00</span></p>
          <p>Office:&nbsp;<span>P304</span></p>
        </div>
      </div>
    </div>
  </div>
</aside>
