<footer>
  <div class="footer-status">
    <span>You are not logged in.&nbsp</span>
    <a href="">Login</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="/javascript/action.js"></script>
