<% if(args.id === tabId){%>
<a href="<%=args.link%>" class="w3-bar-item w3-button activated"
  ><%=args.content%></a
>
<%} else{%>
<a href="<%=args.link%>" class="w3-bar-item w3-button"><%=args.content%></a>
<% } %>
