<section class="start-section">
  <div>
    <div class="welcome-text">
      <h2>Welcome to our portal</h2>
      <p>
        “It’s time to step up to the plate and get passionate about your work
        commit to making eLearning courses that don't bore people to tears, but
        instead inspire and motivate them to learn a new skill, change a certain
        behavior, or improve their performance.” - Cammy Bean
      </p>
    </div>
    <div class="color-overlay"></div>
  </div>
</section>
